*{
  margin: 0; padding: 0;
  box-sizing: border-box;
}
#root{
  width: 100vw;
  height: 100vh;
}
header{
  height: 10vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: antiquewhite;
  &>nav{
    width: 80vw;
    display: flex;
    justify-content: space-between;
    
    &>ul{
      width: 15vw;
      justify-content: space-between;
      display: flex;
      list-style: none;
      &>li:hover{
        cursor: pointer;
      }
    }
  }
}
main{
  height: 85vh;
  width: 100vw;
}
footer{
  height: 5vh;
  width: 100vw;
  background-color: rgb(90, 90, 90);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 5vw;
  color: rgb(228, 228, 228);
}
.page{
  display: none;
}
.page:nth-child(1){
  display: flex;
  //처음에 첫 페이지만 보이도록 
}

